<div class="anwer-header">
  <h1>Write a response!</h1>
</div>
<div class="answer-body">
  <form>
    <div class="form-group">
      <label for="author">Author - </label>
      {{input value=author class="author"}}
    </div>
    <div class="form-group">
      <label for="response">Response - </label>
      {{input value=response class="response"}}
    </div>

    <button {{action 'saveAnswer'}}>Reply</button>
  </form>
</div>
