<h1>This is my ABOUT page</h1>

<h3>Things to know!</h3>

<ul>
    <li>My name is Chad Durkin</li>
    <li>I love web development</li>
    <li>This is a project to illustrate my knowledge on the EMBER framework!</li>
</ul>
