<div class="container">
    <div class="jumbotron header">
        <header>
            <h1>{{#link-to 'index'}}Q n A page!{{/link-to}}</h1>
        </header>
    </div>
    
    {{outlet}}

    <footer class="footer">
        <h3>{{#link-to 'about'}}About{{/link-to}} | {{#link-to 'contact'}}Contact{{/link-to}}</h3>
    </footer>
</div>
