<h1>This is my CONTACT page</h1>

<h3>How to get ahold of me!</h3>

<ul>
  <li>By Email: Chaddurkin@gmail.com</li>
  <li><a href="https://www.linkedin.com/in/chad-durkin-3ba21a110/">By Linkedin</a></li>
</ul>
