<div class="index-page">
  <div class="row index-header">
    <h1>New Question</h1>
    <hr>
    {{new-question saveQuestion="saveQuestion"}}
    <hr>
    <h1>Current Questions!</h1><br>
    <hr>
  </div>
  <div class="row">
    {{question-list questions=model.questions}}
  </div>
</div>
